<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Route</title>
</head>

<body>
    <h2>Create new Post</h2>
    <form action="/posts" method="post">
        <label>Username :</label>
        <input name="username" placeholder="enter username"><br><br>
        <label>Content :</label>
        <textarea name="content" placeholder="enter content"></textarea><br><br>
        <button>Submit</button>
    </form>
</body>

</html>